*{
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
 background-color:black;
 color: white;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;

}
/* header by precious */
header{
    width: 100%;
}
nav{
    display: flex;
    max-width: 80%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
     border-bottom: solid white 1px;
     padding-bottom: 2rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 1rem;
}
.exp{
    color: #FFE600;
   
}
h2{
    color: #fff;
     font-weight: bold;
    font-size: 40px;
}
.pex{
    color: #51D289;
}
.nav{
    display: flex;
    gap: 1rem;
    height: 53px;   
    align-items: center;
   
 
}
.newEx{
    border-radius: 3px;
    width: 220px;
    height: 40px;
    text-align: center;
    padding: 0;

}
.welEx{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.expenseContainer{
    width: 100%;
   max-width: 45%;
   min-width: 200px;
   min-height: 70vh;
   max-height: 70vh;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 3rem;
} 
   .flexExpens{
    display: flex;
    gap: 1rem;
    width: 100%;
}

.budSec{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}
.Description{
    color: #FFE600;
    font-weight: bold;
    font-size: 20px;
    
}
select{
    background-color: black;
    color:  #FFE600;
    font-weight: bold;
}
.filter{
    border:  1px solid #FFE600;
    padding: 0.5rem;
}
.filter span{
    border-right: solid white 1px;
    padding-right: .5rem;
    font-weight: bold;
}
/* || style expense data for expensed */
.ExpenseData{
  display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1.5rem;
}
/* || styling the data container */
.dataContainer{
    width: 100%;
}

.actions{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    font-size: 16px;
    font-family: sans-serif;
    display: none;
    font-weight: 700;
    background-color: #FFFDE7;
    gap: 2rem;
}
.actions div:hover{
    background-color:  #f8f6dd;
}
.actions .delete{
    color: red;
    cursor: pointer;
    padding: 0.5rem 1rem;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2);
}
.amount{
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 800;
}
.actions .edit{
    color: #51D289;
       box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.2);
       padding: 0.5rem 1rem;
}
/* styling user data */
.Date{
    display: flex;
    border-bottom: solid 2px #B2B2B2;
    border-style: dotted;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.dataInfo{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.dataInfo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: .6rem;
    background-color: #51D289;
}

.budget{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}
.budget .expens{
    color: #51D289;
}
.getStarted{
    font-size: 23px;
    max-width: 80%;
    text-align: center;
}
.getStarted span{
    color: #51D289;
}
.expenseContainer img{
   width: 50px;
   font-weight: 900;
   font-size: 40px;
}

.Income{
    padding: 1rem;
    background-color:  #FFFDE7;
    max-width: 80%;
    min-width: 300px;
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
}
.Income span{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.SpendsAndAmoutLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 1rem;
}
 .spent h2,
.available h2{
    font-size: 16px;
}
.SpendsAndAmoutLeft .available ,
.SpendsAndAmoutLeft .spent{
 max-width: 45%;
 min-width: 150px;
 height: 6rem;
 width: 100%;
 background-color: #1E1E1E;
 color: white;
 text-align: center;
 font-size: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 gap: .2rem;
 border-radius: 10px;
}
/* || chart  */
.chart{
    max-width: 200px;
  width: 100%;
  display: flex;
 justify-content: center;
 align-items: center;
   position: relative;

}
.ChartSpent{
   position: absolute;
    text-align: center;
}
.ChartSpent span{
  font-size: 30px;
  font-weight: 600;
}
.ChartSpent h3{
    font-weight: 300;
}
.SpendsAndAmoutLeft .available span{
    color: #51D289;
    font-size: 30px;
}
.SpendsAndAmoutLeft .spent span{
    color:#FFE600 ;
    font-size: 30px;
}
.UserButtons{
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    gap: 1rem;
}
.AddExpence{
    border-radius: 50%;
    width: 60px;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 60px;
}
.UserButtonsReset{
    width: 90%;
}
.BudgetSections{
    max-width: 85%;
    padding-top: 1rem;
     width: 100%;
     display: flex;
     align-items: center;
     margin: auto;
     justify-content: center;
     gap: 1rem;
     margin: auto;

}
/* ||||||||||||||||||||||||||| */
.CardContainer{
   width: 100%;
   max-width: 25%;
   min-width: 400px;
   min-height: 700px;
   height: 100%;
   background-color: white;
   justify-content: space-between;
   color: black;
   padding: 1rem;
   border-radius: 15px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: .5rem;
}
/* || universal buttons */
 button{
    padding: 1rem;
    background-color: #FFE600;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
}
.Option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    gap: 1rem;
    padding: 1rem;
}
.Option img{
 width: 70px;
 height: 70px;
 border: solid #51D289 .2rem;
 border-radius: 50%;
}
 hr{
  border: solid #B2B2B2 1px; 
  border-style: dotted;
  max-width: 80%; 
  width: 100%;
 }

.Optioncontianer{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    min-width: 300px;
    color: black;
    background-color: #FFFDE7;
    border-radius: 10px;
    padding: .5rem;
}
.CardOptions{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    padding: .5rem;
    

}
.CardOptions .choice{
    padding: 1rem;
    border-radius: 10px;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    background-color: #1E1E1E;
}
.UserGoals h2{
    color: black;
}

.Optioncontianer button{
  background-color: #51D289;
  padding: .5rem;
  border-radius: 25px;
}
.UserGoals{
    width: 80%; 
}
.UserGoals div{
 border-left: solid #51D289 .6rem;
 margin-top: .1rem;
 height: 40px;
 display: flex;
 height: 5rem;
 align-items: center;
 max-width: 400px;
 padding-left: .6rem;
 border-radius: 15px;
 text-align: start;
 font-size: 15px;

}

 /* || styling the Add Expense form */
.Add_expense {
        background: #fff;
        position: absolute;
        padding: 40px;
        display: none;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0.1);
        max-width: 400px;
        min-width: 200px;
        width: 100%;
      }
      .exit-icons{
        position: absolute;
        top: 10px;
          padding: .4rem;
        right: 10px;
      }
      .exit-icons:hover{
        background-color: #B2B2B2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: .4rem;
      }
      form input , form button{
        padding: 10Px;
        height: 4rem;
      }
.flexExpens{
    display: flex;
    flex-direction: row;
    width: 50%;
     gap: 1rem;
   
}

     .Add_expense h2 {
        margin-bottom: 20px;
        text-align: center;
        color: #333;
      }

      .user_data {
        width: 100%;
        padding: 12px 15px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
      }

      .btn {
        width: 100%;
        padding: 12px;
        background: #4caf50;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
      }

      .btn:hover {
        background-color: #170cf3;
}
/* end styling the Add Expense form */
 /* ||Active class */

 .active{
    display:block;
 }
 .activeflex{
    display:flex;
 }
 @media all and (max-width: 1204px) {
     header{
      border-bottom: solid white 1px;
     }
   nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    margin: auto;
    border: none;
     padding-bottom: 1rem;
}
 .welEx img ,.newEx {
    display: block;
 }
 .BudgetSections{
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column-reverse;
     margin: auto;
     justify-content: center;
     gap: 1rem;

}
 .flexExpens{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.expenseContainer{
   width: 100%;
   min-width: 100%;
   min-height: 70vh;
   max-height: 70vh;
   height: 100%;
   border-bottom: solid white 1px;
   background-color: black;
   padding: 1rem;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 3rem;
   
 }
}
  @media all and (max-width: 480px) {
   nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    margin: auto;
     border-bottom: solid white 1px;
     padding-bottom: 1rem;
}
 .welEx img ,.newEx {
    display: none;
 }
 .BudgetSections{
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column-reverse;
     margin: auto;
     justify-content: center;
     gap: 1rem;

}
.expenseContainer{
   width: 100%;
   min-width: 100%;
   min-height: 70vh;
   max-height: 70vh;
   height: 100%;
   background-color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 3rem;
   
}
.flexExpens{
    display: flex;
    flex-direction: column;
     gap: 1rem;
    width: 100%;
}
.CardContainer{
   width: 100%;
   max-width: 25%;
   min-width: 400px;
   min-height: 700px;
   height: 100%;
   background-color: white;
   justify-content: space-between;
   color: black;
   padding: 1rem;
   border-radius: 15px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: .5rem;
}
  
 }