
* {
  padding: 0;
  margin: 0;
}
body{
  background-color: #404040;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.container{
  display: flex;
  width: 1350px;
  height: 1085px;
  height: 675px;
  border-radius: 1px 2px;
  background-color: black;
  margin-top: 50px;
}
.content{
background-color: white;
width: 703px;
background-image: url(/src/images/illustration.png);
background-size: 500px;
background-repeat: no-repeat;
background-position: right bottom;
background-color: white;
width: 703px; 
}
.content-1{
  background-color:black;
  width: 703px;
  height: 563px;
  margin-top: 50px;
  
}
.content-1 h1{
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}
.content-1 h2{
  color: white;
  margin-left: 50px;
  margin-top: 50px;
}

.form{
  position: relative;
  margin: 20px 0;
  margin-top: 20px;
}

.form input {
  width: 60%;
  margin-left: 100px;
  border: none;
  border-bottom: 2px solid #aaa;
  outline: none;
  font-size: 20px;
  color: white;
  padding: 1rem;
  background: transparent;
  background-color: black;

}

.form label {
  position: absolute;
  top: 8px;
  left: 0;
  color: #aaa;
  pointer-events: visible;
  transition: 0.2s ease all;
  margin-left: 100px;
}

.form input:focus + label,
.form input:valid + label {
  top: -16px;
  font-size: 12px;
  color: #333;
}



.form label {
  position: absolute;
  top: 8px;
  left: 70px;
  color: #aaa;

}
.container button{
  margin-left: 100px;
  margin-top: 50px;
  width: 50%;
  height: 50px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 10px;
}
.heading {
  margin-left: 100px;
  display: flex;
  margin-top: -100px;
}
.heading span{
  margin-top: 150px;
  gap: 20px;
  display: flex;
}
.heading h2{
  color: green;
  margin-left: -0px;
}
.content h1{
    margin-left: 100px;
     margin-top: 150px;
     font-size: i8px;
      text-align: left;
      font-family: Arial,sans-serif;
      font-style: italic;
       color: black;
      opacity: 0.7; /*add a slanting effect*/
      transform: skew(-5deg);/* add a subtle slant*/
      font-weight: lighter;
}
.content h2{
    color: blue;
    margin-left: 30px;
    margin-top: 10px;
     font-size: 30px;
     font-family: arial;
}
   .select{
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 100px;
}
.select input{
  margin-left: 0;


}
.select label{
    color: white;
  font-size: 14px;
}
select{
  width: 60px;
  height: 40px;
  color: white;
  background-color: black;
  border: none;
  font-size: 30px;
  outline: none;
}
option{
  height: 300px;
}